---
import axios from "axios"
import Head from "$components/blocks/Head.astro"
import Story from "$components/blocks/Story.vue"

const request = axios.create({
    baseURL: "https://api.hackerwebapp.com",
})

const { data } = await request.get("/item/32593996")
---

<html lang="en">
    <Head />
    <body>
        <Story data={data} />
    </body>
</html>
