---
import got from "got"
import Head from "$components/blocks/Head.astro"
import Story from "$components/blocks/Story.vue"

const data = await got.get("https://api.hackerwebapp.com/item/30186326").json()
---

<html lang="en">
    <Head />
    <body>
        <Story data={data as never} />
    </body>
</html>
